<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<!-- mapUnderscoreToCamelCase 将下划线自动转换为驼峰命名 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<!-- 别名：类名首字母小写 -->
	<typeAliases>
		<package name="com.by.model" />
	</typeAliases>

</configuration>